<h1>Agregar food para {{model.meal.name}}</h1>
<div clas="food">
  <form  {{action 'createFood' model.meal on="submit"}}>

    	<button>Agregar food</button>

  </form>
</div>
  <br />
  <h2>Foods</h2>

  <div class="food1">
    {{#each model.foods as |food|}}
            <br />
            <img src="https://static8.depositphotos.com/1001599/879/v/950/depositphotos_8791972-stock-illustration-cartoon-food-hotdog.jpg" width="100px" height="100px"/>
            <br />
            <br />
            {{input type="text"  id="" placeholder="Introduce el nombre" value=food.name}}
            <br />
            <br />
            {{input type="text" id="" placeholder="Serving" value=food.calories}}
            <br />
            <br />
            <button {{action 'deleteFood' food}}>Eliminar</button>
             <button {{action 'updateFood' food}}>Actualizar</button>

             <br />
             <br />
             <p>Selecciona el producto</p>
             {{#power-select
             options=model.products
             selected=food.product
             onchange=(action (mut food.product))
             as |product|}}
             <strong>{{product.name}}</strong>
             {{/power-select}}
             <br />
    {{else}}
      <h3>No hay foods</h3>
    {{/each}}
  </div>
