<h1>Meals</h1>

<form {{action 'createMeal'}}>
	<p>Agregar una comida</p>
	<button>Agregar</button>
	<br />
	<br />

	<button {{action 'goProduct'}}>CRUD Products</button>
	<br />
	<br />
</form>

	<div class="meal">
		{{#each model as |meal|}}
		<img src="https://st2.depositphotos.com/1007566/12294/v/950/depositphotos_122949866-stock-illustration-kawaii-cartoon-burger-fast-food.jpg" width="100px" height="100px"/>
			<br />
						Nombre de la comida:{{meal.name}}
						<br />
						{{input type="text"  id="" placeholder="Nombre meal" value=meal.name}}
						<br />
					<button {{action 'editMeal' meal}}>Actualiza</button>
					<button {{action 'deleteMeal' meal}}>Eliminar</button>
					<button {{action 'goMealDetails' meal}}>Detalles</button>
					<br />
					<br />
					{{else}}

		{{/each}}
	</div>
<br />
