<h1>Meals</h1>
<h1>CRUD Products</h1>
    <form {{action 'createProduct'}}>
      <p>Agregar un producto</p>
      <button>Agregar</button>
    </form>
    <br />
	<div class="meal">
		{{#each model as |product|}}
          <img src="https://innovationmarketing.files.wordpress.com/2016/10/experimentacic3b3n.png?w=300&h=180" width="100px" height="100px"/>
          <br />
						Nombre del producto:{{product.name}}
						<br />
            {{input type="text"  id="" placeholder="Introduce el nombre" value=product.name}}
            <br />
            <br />
            {{input type="text" id="" placeholder="Calories" value=product.calories}}
            <br />
            <br />
            <button {{action 'deleteProduct' product}}>Eliminar</button>
             <button {{action 'updateProduct' product}}>Actualizar</button>
             <br />
             <br />
					{{else}}

		{{/each}}
	</div>
